<% if logged_in?(:site_admin) %>
    <p class="blog-post-meta">
        <%= link_to blog.status, toogle_status_blog_path(blog) %> /
        <%= link_to 'Edit', edit_blog_path(blog) %> /
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>