<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <%= link_to "View All Portfolio Items", portfolios_path, class: "btn btn-info" %> /
            <a href="#", class="btn btn-info">Back to top</a>
        </p>
        <p>
            <%= copyright_generator %>
        </p>
    </div>
</footer>  