<h1>Pages#about</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <%= image_tag 'about.JPG', width: 300, alt: "about" %>
    </div>
    <div class="col-md-7">
        <p>Find me in app/views/pages/about.html.erb</p>
    </div>
</div>

