<h1>Pages#contact</h1>

<p><%= number_to_phone "919919919" %></p>
<p><%= number_to_currency "919919919" %></p>
<p><%= number_to_percentage "84.3" %></p>
<p><%= number_with_delimiter "8434235454353" %></p>