<h1>Pages#contact</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <p><%= number_to_phone "919919919" %></p>
        <p><%= number_to_currency "919919919" %></p>
        <p><%= number_to_percentage "84.3" %></p>
        <p><%= number_with_delimiter "8434235454353" %></p>

        <p><a href="mailto:hugodanielmorais@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.9150188656245!2d-9.229756799999997!3d38.765653099999994!2m3!
        1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd0b9ea53c11%3A0x63d705b06abeb8fe!2sPraceta%20Lagar%206%2C%20Amadora!5e0!3m2!1spt
        -BR!2spt!4v1572109199625!5m2!1spt-BR!2spt" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>


