@import "bootstrap";
@import "jquery-ui";
@import "gritter";

body {
  font-family: 'Lato', sans-serif;
  min-height: 75rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #333;
  font-family: 'Lato', sans-serif;
}


.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  /* 
  Custom styles
  */

  .portfolio-form {
    padding: 40px;
  }

  .portfolio-container {
    padding-top: 30px;
  }
  